name: Basic QC

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  basic-quality:
    uses: kube-kaptain/buildon-github-actions/.github/workflows/basic-quality-checks.yaml@1.0.60
    with:
      qc-block-slash-containing-branches: true
      qc-block-conventional-commits: true
